<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <RootNamespace>S5KSY.Modules3D.{{ solution }}</RootNamespace>
    <AssemblyName>S5KSY_{{ solution }}</AssemblyName>
  </PropertyGroup>

  <ItemGroup>
    <Compile Include="..\SharedAssemblyInfo.cs" Link="Properties\SharedAssemblyInfo.cs" />
  </ItemGroup>

</Project>
