<Project>
	<PropertyGroup>
		<!-- Název modulu -->
		<ModuleName>S5KSY_{{ solution }}</ModuleName>
	</PropertyGroup>

	<Import Project="$([MSBuild]::GetPathOfFileAbove('Directory.Build.props', '$(MSBuildThisFileDirectory)../'))" />
</Project>
