<?xml version="1.0" encoding="utf-8"?>
<PartnerSolution>
      <ID>{{ solution_id }}</ID>
      <CompanyPrefix>S5KSY</CompanyPrefix>
      <SolutionName>{{ solution }}</SolutionName>
</PartnerSolution>
