{
  "releases": [
    {
      "version": "1.16.5.0",
      "releaseDate": "{{ date.now | date.to_string '%Y-%m-%d' }}",
      "changes": [
        "TBD"
      ],
      "dependencies": [
      ]
    }
  ]
}
