using System.Reflection;
using System.Runtime.Versioning;

[assembly: AssemblyConfiguration("")]
[assembly: AssemblyCompany("K-System")]
[assembly: AssemblyProduct("S5KSY_{{ solution }}")]
[assembly: AssemblyTrademark("")]
[assembly: AssemblyCulture("")]

[assembly: AssemblyVersion(@"16.5.1.0")]
[assembly: AssemblyFileVersion(@"16.5.1.0")]

#if WINDOWS7_0
[assembly: SupportedOSPlatform("windows7.0")]
#endif
