namespace {{ solution }}.Api.DataLayer.Abstractions.Repositories
{
    using {{ solution }}.DataLayer.Abstractions;
    using {{ solution }}.Entities;

    public interface I{{ entity }}Repository : IGenericRepository<{{ entity }}>
    {
    }
}
