{{~
  # Maps control_prefix → WinForms control class
  func ctrl_class(prefix)
    if prefix == "tb"
      ret "System.Windows.Forms.TextBox"
    else if prefix == "nud"
      ret "System.Windows.Forms.NumericUpDown"
    else if prefix == "ce"
      ret "CSW.CSWSystemUI.CurrencyEdit"
    else if prefix == "chb"
      ret "System.Windows.Forms.CheckBox"
    else if prefix == "ndtp"
      ret "System.Windows.Forms.DateTimePicker"
    else if prefix == "cb"
      ret "System.Windows.Forms.ComboBox"
    else if prefix == "gpbe"
      ret "CSW.Controls.GroupPickButtonEdit"
    else
      ret "CSW.Controls.PickButtonEdit"
    end
  end

  # Flat list of visible properties (top-level + groups), Poznamka vždy zvlášť na konci
  $vp = []
  for prop in properties
    if prop.control_prefix && prop.name != "Poznamka"
      $vp = $vp | array.add prop
    end
  end
  for group in property_groups
    for prop in group.properties
      if prop.control_prefix
        $vp = $vp | array.add prop
      end
    end
  end
  $n   = $vp | array.size

  # Výpočet výšek: $n datových řádků (27 px) + EtchedLine (13 px) + Poznamka (61 px)
  $th  = $n * 27 + 74
  $ph  = $th + 4
  $tph = $ph + 6
  $tbh = $tph + 29
  $ch  = $tbh + 10
  $mh  = $ch + 39
~}}
namespace {{ namespace }}
{
    partial class {{ object_name }}Form
    {
        /// <summary>
        /// Required designer variable.
        /// </summary>
        private System.ComponentModel.IContainer components = null;

        /// <summary>
        /// Clean up any resources being used.
        /// </summary>
        /// <param name="disposing">true if managed resources should be disposed; otherwise, false.</param>
        protected override void Dispose(bool disposing)
        {
            if (disposing && (components != null))
            {
                components.Dispose();
            }
            base.Dispose(disposing);
        }

        #region Windows Form Designer generated code

        /// <summary>
        /// Required method for Designer support - do not modify
        /// the contents of this method with the code editor.
        /// </summary>
        private void InitializeComponent()
        {
            System.ComponentModel.ComponentResourceManager resources = new System.ComponentModel.ComponentResourceManager(typeof({{ object_name }}Form));
            this.tableLayoutPanel1 = new System.Windows.Forms.TableLayoutPanel();
{{~ for prop in $vp }}
            this.label{{ for.index + 1 }} = new System.Windows.Forms.Label();
            this.{{ prop.control_name }} = new {{ ctrl_class prop.control_prefix }}();
{{~ end }}
            this.etcLine = new System.Windows.Forms.Panel();
            this.labelPoznamka = new System.Windows.Forms.Label();
            this.tbPoznamka = new System.Windows.Forms.TextBox();
            this.toolStripContainer1.ContentPanel.SuspendLayout();
            this.toolStripContainer1.SuspendLayout();
            this.panelContent.SuspendLayout();
            this.TabControlExConatiner.SuspendLayout();
            this.tpObecne.SuspendLayout();
            ((System.ComponentModel.ISupportInitialize)(this.S5StyleController)).BeginInit();
            this.tableLayoutPanel1.SuspendLayout();
            this.SuspendLayout();
            //
            // toolStripContainer1
            //
            //
            // toolStripContainer1.ContentPanel
            //
            this.toolStripContainer1.ContentPanel.Size = new System.Drawing.Size(374, {{ $ch }});
            this.toolStripContainer1.Size = new System.Drawing.Size(374, {{ $ch }});
            //
            // panelContent
            //
            this.panelContent.Controls.Add(this.tableLayoutPanel1);
            this.panelContent.Size = new System.Drawing.Size(350, {{ $ph }});
            //
            // TabControlExConatiner
            //
            //
            //
            //
            this.TabControlExConatiner.DisplayStyleProvider.BorderColor = System.Drawing.SystemColors.ControlDark;
            this.TabControlExConatiner.DisplayStyleProvider.BorderColorHot = System.Drawing.SystemColors.ControlDark;
            this.TabControlExConatiner.DisplayStyleProvider.BorderColorSelected = System.Drawing.Color.FromArgb(((int)(((byte)(132)))), ((int)(((byte)(130)))), ((int)(((byte)(132)))));
            this.TabControlExConatiner.DisplayStyleProvider.CloserColor = System.Drawing.Color.DarkGray;
            this.TabControlExConatiner.DisplayStyleProvider.FocusTrack = false;
            this.TabControlExConatiner.DisplayStyleProvider.HotTrack = true;
            this.TabControlExConatiner.DisplayStyleProvider.ImageAlign = System.Drawing.ContentAlignment.MiddleLeft;
            this.TabControlExConatiner.DisplayStyleProvider.Opacity = 1F;
            this.TabControlExConatiner.DisplayStyleProvider.Overlap = 0;
            this.TabControlExConatiner.DisplayStyleProvider.Padding = new System.Drawing.Point(10, 4);
            this.TabControlExConatiner.DisplayStyleProvider.Radius = 2;
            this.TabControlExConatiner.DisplayStyleProvider.ShowTabCloser = false;
            this.TabControlExConatiner.DisplayStyleProvider.TextColor = System.Drawing.SystemColors.ControlText;
            this.TabControlExConatiner.DisplayStyleProvider.TextColorDisabled = System.Drawing.SystemColors.ControlDark;
            this.TabControlExConatiner.DisplayStyleProvider.TextColorSelected = System.Drawing.SystemColors.ControlText;
            this.TabControlExConatiner.Size = new System.Drawing.Size(364, {{ $tbh }});
            //
            // tpObecne
            //
            this.tpObecne.Location = new System.Drawing.Point(4, 25);
            this.tpObecne.Size = new System.Drawing.Size(356, {{ $tph }});
            //
            // tpUzivatelPromenne
            //
            this.tpUzivatelPromenne.Location = new System.Drawing.Point(4, 25);
            this.tpUzivatelPromenne.Size = new System.Drawing.Size(654, 377);
            //
            // tpAttachments
            //
            this.tpAttachments.Location = new System.Drawing.Point(4, 25);
            this.tpAttachments.Size = new System.Drawing.Size(654, 377);
            //
            // imageList
            //
            this.imageList.ImageStream = ((System.Windows.Forms.ImageListStreamer)(resources.GetObject("imageList.ImageStream")));
            this.imageList.Images.SetKeyName(0, "SlozkaZavrena.bmp");
            this.imageList.Images.SetKeyName(1, "SlozkaOtevrena.bmp");
            this.imageList.Images.SetKeyName(2, "ObecnyDoc.bmp");
            //
            // S5StyleController
            //
            this.S5StyleController.LookAndFeel.Style = DevExpress.LookAndFeel.LookAndFeelStyle.Style3D;
            this.S5StyleController.LookAndFeel.UseDefaultLookAndFeel = false;
            this.S5StyleController.LookAndFeel.UseWindowsXPTheme = true;
            //
            // tableLayoutPanel1
            //
            this.tableLayoutPanel1.ColumnCount = 2;
            this.tableLayoutPanel1.ColumnStyles.Add(new System.Windows.Forms.ColumnStyle(System.Windows.Forms.SizeType.Absolute, 120F));
            this.tableLayoutPanel1.ColumnStyles.Add(new System.Windows.Forms.ColumnStyle(System.Windows.Forms.SizeType.Percent, 100F));
{{~ for prop in $vp }}
            this.tableLayoutPanel1.Controls.Add(this.label{{ for.index + 1 }}, 0, {{ for.index }});
            this.tableLayoutPanel1.Controls.Add(this.{{ prop.control_name }}, 1, {{ for.index }});
{{~ end }}
            this.tableLayoutPanel1.Controls.Add(this.etcLine, 0, {{ $n }});
            this.tableLayoutPanel1.SetColumnSpan(this.etcLine, 2);
            this.tableLayoutPanel1.Controls.Add(this.labelPoznamka, 0, {{ $n + 1 }});
            this.tableLayoutPanel1.Controls.Add(this.tbPoznamka, 1, {{ $n + 1 }});
            this.tableLayoutPanel1.Dock = System.Windows.Forms.DockStyle.Fill;
            this.tableLayoutPanel1.Location = new System.Drawing.Point(0, 2);
            this.tableLayoutPanel1.Name = "tableLayoutPanel1";
            this.tableLayoutPanel1.RowCount = {{ $n + 3 }};
{{~ for prop in $vp }}
            this.tableLayoutPanel1.RowStyles.Add(new System.Windows.Forms.RowStyle());
{{~ end }}
            this.tableLayoutPanel1.RowStyles.Add(new System.Windows.Forms.RowStyle(System.Windows.Forms.SizeType.Absolute, 13F));
            this.tableLayoutPanel1.RowStyles.Add(new System.Windows.Forms.RowStyle(System.Windows.Forms.SizeType.Percent, 100F));
            this.tableLayoutPanel1.RowStyles.Add(new System.Windows.Forms.RowStyle(System.Windows.Forms.SizeType.Absolute, 0F));
            this.tableLayoutPanel1.Size = new System.Drawing.Size(350, {{ $th }});
            this.tableLayoutPanel1.TabIndex = 0;
{{~ for prop in $vp }}
            //
            // label{{ for.index + 1 }}
            //
            this.label{{ for.index + 1 }}.Anchor = ((System.Windows.Forms.AnchorStyles)((System.Windows.Forms.AnchorStyles.Left | System.Windows.Forms.AnchorStyles.Right)));
            this.label{{ for.index + 1 }}.AutoSize = true;
            this.label{{ for.index + 1 }}.Location = new System.Drawing.Point(3, {{ for.index * 27 + 7 }});
            this.label{{ for.index + 1 }}.Name = "label{{ for.index + 1 }}";
            this.label{{ for.index + 1 }}.Size = new System.Drawing.Size(114, 13);
            this.label{{ for.index + 1 }}.TabIndex = 0;
            this.label{{ for.index + 1 }}.Text = "{{ prop.caption }}";
            //
            // {{ prop.control_name }}
            //
            this.{{ prop.control_name }}.Anchor = ((System.Windows.Forms.AnchorStyles)((System.Windows.Forms.AnchorStyles.Left | System.Windows.Forms.AnchorStyles.Right)));
            this.{{ prop.control_name }}.Location = new System.Drawing.Point(123, {{ for.index * 27 + 3 }});
            this.{{ prop.control_name }}.Name = "{{ prop.control_name }}";
            this.{{ prop.control_name }}.Size = new System.Drawing.Size(224, 21);
            this.{{ prop.control_name }}.TabIndex = {{ for.index * 2 + 1 }};
{{~ end }}
            //
            // etcLine
            //
            this.etcLine.BorderStyle = System.Windows.Forms.BorderStyle.Fixed3D;
            this.etcLine.Dock = System.Windows.Forms.DockStyle.Bottom;
            this.etcLine.Location = new System.Drawing.Point(0, {{ $n * 27 + 5 }});
            this.etcLine.Name = "etcLine";
            this.etcLine.Size = new System.Drawing.Size(350, 2);
            this.etcLine.TabIndex = {{ $n * 2 }};
            //
            // labelPoznamka
            //
            this.labelPoznamka.Anchor = ((System.Windows.Forms.AnchorStyles)((System.Windows.Forms.AnchorStyles.Left | System.Windows.Forms.AnchorStyles.Right | System.Windows.Forms.AnchorStyles.Top)));
            this.labelPoznamka.AutoSize = true;
            this.labelPoznamka.Location = new System.Drawing.Point(3, {{ $n * 27 + 21 }});
            this.labelPoznamka.Name = "labelPoznamka";
            this.labelPoznamka.Size = new System.Drawing.Size(114, 13);
            this.labelPoznamka.TabIndex = 0;
            this.labelPoznamka.Text = "Poznámka";
            //
            // tbPoznamka
            //
            this.tbPoznamka.Anchor = ((System.Windows.Forms.AnchorStyles)((System.Windows.Forms.AnchorStyles.Left | System.Windows.Forms.AnchorStyles.Right | System.Windows.Forms.AnchorStyles.Top | System.Windows.Forms.AnchorStyles.Bottom)));
            this.tbPoznamka.Location = new System.Drawing.Point(123, {{ $n * 27 + 18 }});
            this.tbPoznamka.Multiline = true;
            this.tbPoznamka.Name = "tbPoznamka";
            this.tbPoznamka.ScrollBars = System.Windows.Forms.ScrollBars.Vertical;
            this.tbPoznamka.Size = new System.Drawing.Size(224, 55);
            this.tbPoznamka.TabIndex = {{ $n * 2 + 1 }};
            //
            // {{ object_name }}Form
            //
            this.Appearance.BackColor = System.Drawing.SystemColors.Control;
            this.Appearance.Options.UseBackColor = true;
            this.AutoScaleDimensions = new System.Drawing.SizeF(6F, 13F);
            this.AutoScaleMode = System.Windows.Forms.AutoScaleMode.Font;
            this.ClientSize = new System.Drawing.Size(374, {{ $ch }});
            this.S5HelpProvider.SetHelpKeyword(this, "1");
            this.S5HelpProvider.SetHelpNavigator(this, System.Windows.Forms.HelpNavigator.TopicId);
            this.IconOptions.Icon = ((System.Drawing.Icon)(resources.GetObject("{{ object_name }}Form.IconOptions.Icon")));
            this.LookAndFeel.Style = DevExpress.LookAndFeel.LookAndFeelStyle.Style3D;
            this.LookAndFeel.UseDefaultLookAndFeel = false;
            this.LookAndFeel.UseWindowsXPTheme = true;
            this.MinimumSize = new System.Drawing.Size(390, {{ $mh }});
            this.Name = "{{ object_name }}Form";
            this.S5HelpProvider.SetShowHelp(this, true);
            this.Text = "{{ object_caption }}";
            this.toolStripContainer1.ContentPanel.ResumeLayout(false);
            this.toolStripContainer1.ContentPanel.PerformLayout();
            this.toolStripContainer1.ResumeLayout(false);
            this.toolStripContainer1.PerformLayout();
            this.panelContent.ResumeLayout(false);
            this.TabControlExConatiner.ResumeLayout(false);
            this.tpObecne.ResumeLayout(false);
            ((System.ComponentModel.ISupportInitialize)(this.S5StyleController)).EndInit();
            this.tableLayoutPanel1.ResumeLayout(false);
            this.tableLayoutPanel1.PerformLayout();
            this.ResumeLayout(false);

        }

        #endregion

        private System.Windows.Forms.TableLayoutPanel tableLayoutPanel1;
{{~ for prop in $vp }}
        private System.Windows.Forms.Label label{{ for.index + 1 }};
        private {{ ctrl_class prop.control_prefix }} {{ prop.control_name }};
{{~ end }}
        private System.Windows.Forms.Panel etcLine;
        private System.Windows.Forms.Label labelPoznamka;
        private System.Windows.Forms.TextBox tbPoznamka;
    }
}
