namespace {{ solution }}.Api.DataLayer.Repositories
{
    using System.Collections.Generic;

    using {{ solution }}.DataLayer.Abstractions;
    using {{ solution }}.DataLayer.Abstractions.Interceptors;
    using {{ solution }}.DataLayer.Abstractions.Repositories;
    using {{ solution }}.Entities;

    public partial class {{ entity }}Repository : GenericRepository<{{ entity }}>, I{{ entity }}Repository
    {
        public {{ entity }}Repository(
            IMainDatabaseContext databaseContext,
            IEnumerable<IQueryInterceptor> queryInterceptors)
            : base(databaseContext, queryInterceptors)
        {
        }
    }
}
